
body{
  /* background: linear-gradient(135deg, #657fb1, #f5f5f5 );  */
  background: #ccdae6;
}

.box{
    padding: 5em;
    border-radius: 50px;
    margin: 15em;
    background-color: #ffffff;
    /* color: white; */
    width: 250px;
    height:200px;
    position: absolute;
    left: 25%;
    top: 10%;
    transform: translate(-25%, -50%);
}

#name{
    position: absolute;
    left: 30%;
    top: 17%;
    transform: translate(-25%, -50%);
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  margin: 8px 0;
  display: inline-block;
  color: black;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #5b8bc9;
  
  /* color: rgb(99, 95, 95); */
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


span.signup {
    float: left;
    padding-top: 5px;
    color: rgb(0, 0, 0);
    
  }

 a{
    float: right;
    color: rgb(167, 27, 27);
 }


 a:hover {
    opacity: 0.2;
  }
  
  
  

